@if (User.Identity.IsAuthenticated)
{
    <form method="post" class="form-inline" asp-page="/Account/Logout">
        <div class="row align-items-center">
            <div class="col-auto">
                Welcome @User.Identity.Name
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-link nav-link" name="Logout">Logout</button>
            </div>
        </div>
    </form>



}
else
{
    <a class="nav-link text-dark" asp-area="" asp-page="/Account/Login">Login</a>

}